/*Global*/

body {
	padding: 51px 0 70px 0;
}

.pos-relative {
	position:relative;
}

.bloc {
	position:relative;
}


.inline-block {
    display: inline-block;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.no-margin {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padding-content {
    padding: 10px;
}

.ajax-loader {
    background: url('../img/ajax-loader.gif') no-repeat center; height: 30px; width: 100%; padding-top: 10px; display: none;
}

/*Blog*/

.blog-post-meta {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
}

/*Article*/

.show-post .aside-box {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    background: #DE0000;
    border-bottom: 5px solid #000000;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-decoration: none;
}

.show-post h3 a {
	text-decoration: none;
	color: black;
}


.post-header-publish {
    margin-top: 0px;
}

.social-share .btn {
    margin-bottom: 5px;
    text-align: center;
    color: white;
    height:40px;
    line-height: 40px;
    padding:0px;
}

.social-share span {
    font-size: 1.6em;
}
.social-share .fa-2x {
    font-size: 1.6em;
}



.btn-facebook {
    background-color: #45619D;
}

.btn-twitter {
    background-color: #55ACEE;
}
.btn-google-plus {
    background-color: #DF5138;
}

ul.post-tag {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: block;
}

ul.post-tag .btn {
    background: transparent;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 3px;
    padding: 1px 5px;
    text-transform: uppercase;
    border: 1px solid#ddd;
    margin-right: 3px;
}
ul.post-tag a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
    text-decoration: none;
}



/* Edit bloc */

.edit-bloc-admin {
    z-index:1;
    margin-top: 2px;
    padding-left: 5px;
    position: absolute;
    right: 20px;
    padding-top: 2px;
    font-size: 15px;
    border-radius: 13px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    opacity: 0.5;
}

.edit-bloc-admin:hover, .edit-bloc-admin:hover a  {
    background: black;
    color: white;
    opacity: 1;
}

.edit-bloc-admin a {
    text-decoration: none;
    color: black;

}

.edit-bloc-admin-dashed {
    border: 1px #808080 dashed;
    border-radius: 5px;
}

/*locale switcher*/

.locale_switcher {
    display: inline-block;
    text-align: right;
}

.locale_switcher img {
    height:12px;
    margin-right: 10px;
}
