body {
    padding: 0px 0px;
}

footer .navbar{
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 10px;
}

.navbar {
    border: none;
}

#navbar {
    background: linear-gradient(#00427F, #0055A4);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

#head-external-link {
    list-style: none;
    margin-top: 12px;
}

#head-external-link a {
    color: white;
    font-size: 22px !important;
    text-decoration: none;
    outline: none;
}

.locale_switcher img {
    margin-bottom: 14px;
    height: 14px;
}

#head-external-link li {
    display: inline-block;
    float: right;
    margin-left: 5px;
}

#slider_focus{
    margin-bottom: 15px;
}

#slider_focus a{
    color: white;
}
#page-communication-du-programme-fichier-joint img{
    width: 100% !important;
}
#page-territoires-eligibles-carte img{
    width: 100% !important;
}
#page-p-o-interreg-iv p{
    text-align: center !important;
}

.img-center p {
    text-align: center !important;
}

.vertical-align{
    display: flex;
    align-items: center;
}

#homepage-top-img{
    width: 100% !important;
}

h1 {
    font-size: 30px !important;
}

.img-extend img {
    width: 100% !important;
}

#img-separator img {
    height: 15px !important;
}

h1, h2, h3, h4 {
    color: #0861aa;
    padding-bottom: 4px;
    border-bottom: 2px solid #0861aa;
    font-weight: bolder;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

section a {
    color: #F5922C;
}

img {
    max-width: 100%;
    height: auto;
}

div[id^="specific-content-"] h2{
background-color: rgb(255, 144, 37);
    margin-bottom: 0;
    border-bottom: none;
    padding: 15px;
}

div[id^="specific-content-"] p{
    padding: 15px;
}

#specific-content-1 p{
    background-color: rgb(2, 89, 163);
    color:white;
    display:table-cell;
}

#specific-content-1{
    padding-right: 0px;
}

#specific-content-2 p{
    background-color: rgb(29, 182, 162);
    display:table-cell;
}

#specific-content-2{
    padding-left: 0px;
}

#budget-tableau table, td, th{
    border: 0;
}

#budget-tableau table{
    border: 0;
    width: 100%;
}

#page-contacter-le-pcr table{
    border: none !important;
}

#page-contacter-le-pcr td{
    vertical-align: top;
}

#budget-tableau td{
    padding: 5px;
}

#budget-tableau tr:nth-child(1){
    background-color:#33CCFF;
}


#budget-tableau tr:nth-child(3){
    background-color:#66CC66;
}


#budget-tableau tr:nth-child(5){
    background-color:#FFCCCC;
}


#budget-tableau tr:nth-child(6){
    background-color:#3399CC;
}

/*------------------------------ Axes -------------------------------------*/

/*.axes h5 {*/
/*color: white;*/
/*text-transform: uppercase;*/
/*padding: 10px 0 10px 10px;*/
/*font-weight: bolder;*/
/*font-size: 20px;*/
/*}*/

/*.project-attribute p  {*/
/*display: inline-block;*/
/*}*/

/*.project-attribute li {*/
/*list-style: none;*/
/*}*/

/*------------------------------ blog -------------------------------------*/

/*.show-post h3, .header-article h2, .header-article h4 {*/
/*border-bottom: none;*/
/*}*/

/*.header-article h4 {*/
/*margin-bottom: 0px;*/
/*}*/

/*------------------------------ homepage-focus -------------------------------------*/

#bloc-focus {
    background-color: #025DA8;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    color: white;
    padding: 5px 15px;
}

#bloc-focus h3 {
    color: white;
    border-bottom: 2px solid white;
}

.mr-25{
    margin-right: 25px;
}

.my-head{
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    line-height: 200%;
    padding-left: 15px;
}

.my-container-img{
    height: 155px;
}

body {
    padding: 0px 0px;
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    font-style: italic;
}

#carousel-topnews .carousel-inner > .item > img {
    margin: 0 auto;
}

#carousel-topnews .carousel-caption{
    position: relative;
    font-weight: bold;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-shadow: none;
    font-size: 15px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(91, 91, 91, 0.6);
}

#carousel-topnews .carousel-control {
    width: 20%;
    background-image: none;
}

.required:after {
    content: "  *";
}

#carousel-topnews .btn-default {
    margin-left: 10px;
}

.vertical-align {
    display: flex !important;
    align-items: center !important;
}

.carousel-caption p:last-of-type{
    margin-bottom: 0;
}

.carousel-caption p{
    width: 100%;
}