.flag {
    display: inline-block;
	width: 32px;
	height: 32px;
	background:url(flags.png) no-repeat
}

.flag.flag-de {background-position: -32px 0}
.flag.flag-es {background-position: -64px 0}
.flag.flag-fr {background-position: 0 -32px}
.flag.flag-gb {background-position: -32px -32px}
.flag.flag-it {background-position: -64px -32px}
.flag.flag-pt {background-position: 0 -64px}
