{% if article.category.name is defined %} {#category#}
    {% if article.category.translation('slug', app.request.locale) %}
        <a href="{{ path('cms_blog_list_category', {'categorySlug':article.category.translation('slug', app.request.locale), '_locale': app.request.locale}) }}"
           class="aside-box">{{ article.category.name }}</a>
    {% endif %}
{% endif %}