<h3>Catégories</h3>
<ul class="nav nav-stacked">
    {% for category in categories %}
        {% if category.translation('slug', app.request.locale) %}
            <li><a href="{{ path('cms_blog_list_category', {'categorySlug':category.translation('slug', app.request.locale), '_locale': app.request.locale}) }}">{{ category.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>