<div class="margin-bottom-20">
    <strong>{{ article.shortContent|raw }}</strong>{# Short Content #}
    {{ article.content|raw }} {# Content #}
    {% if article.extraContent %}
        {{ include(template_from_string(article.extraContent)) }} {# Extra Content #}
    {% endif %}
</div>
