{% if article.cover is not null %} {#cover#}
        <a class="fancybox" rel="group" href="{% path article.cover, 'full_hd' %}" title="{{ alt(article.cover) }}">
            <img class="lazy thumbnail img-responsive" src="{% path article.cover, 'full_hd' %}" data-original="{% path article.cover, 'full_hd' %}" alt="{{ alt(article.cover) }}">
            <noscript><img class="thumbnail img-responsive" src="{% path article.cover, 'full_hd' %}" alt="{{ alt(article.cover) }}"></noscript>
        </a>
{% endif %}