{% if article.fields is not empty %}
    {% for field in article.fields %}
        <div class="field">
            <h4>{{ field.name }}</h4>
            {{ field.value|raw }}
        </div>
    {% endfor %}
{% endif %}