{% if article.files is not empty %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Fichiers</h3>
            {% for file in article.files %} {# files #}
                <div class="col-xs-6 margin-bottom-20">
                    <a href="{% path file.media, 'reference' %}" target="_blank" title="{{ alt(file.media) }}">
                        <img src="{{ asset('assets/img/file.png') }}" alt="Fichier" class="img-responsive">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}