{{ form_start(form, {'action' : path('cms_blog_inscription', {'_locale': app.request.locale, 'article': articleId}),'attr': {'id': 'subscribe'}}) }}
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.firstname, 'blog.form.firstname'|trans) }}
        {{ form_widget(form.firstname) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.lastname, 'blog.form.lastname'|trans) }}
        {{ form_widget(form.lastname) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.email, 'blog.form.email'|trans) }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.mobile, 'blog.form.mobile'|trans) }}
        {{ form_widget(form.mobile) }}
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        {{ form_label(form.lieu, 'blog.form.lieu'|trans) }}
        {{ form_widget(form.lieu) }}
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        {{ form_label(form.message, 'blog.form.message'|trans) }}
        {{ form_widget(form.message) }}
    </div>
</div>
<div class="col-sm-12 text-right">
    {{ form_widget(form.save, {'label': 'blog.form.save'|trans}) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}