{% for flashMessage in app.session.flashbag.get('inscriptionSuccess') %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('inscriptionFail') %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ flashMessage }}
    </div>
{% endfor %}

<h3 class="col-xs-12">{{ 'blog.form.inscription_request'|trans }}</h3>
{{ render(controller('CmsBlogBundle:Article:inscription', {'_locale':app.request.locale,'article': article, 'form' : form})) }}