<meta property="og:title" content="{{ article.name }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ url('blog_article_show', {'articleLink' : article.articleLink, '_locale': app.request.locale}) }}"/>
<meta property="og:image" content="{{ app.request.schemeAndHttpHost }}{% path article.cover, 'xxx_large' %}"/>
<meta property="og:description" content="{{ article.shortContent|striptags|raw }}"/>
<meta property="og:site_name" content="{{ config.siteName }}"/>