{% if article.pictures is not empty %} {# pictures #}
    <div class="row">
        <div class="col-xs-12">
            <h3>Images</h3>
            {% for picture in article.pictures %}
                <div class="col-xs-6 margin-bottom-20">
                    <a class="fancybox" rel="group" href="{% path picture.media, 'xxx_large' %}" title="{{ alt(picture.media) }}">
                        <img src="{{ picture.media | liip('square') }}" alt="{{ alt(picture.media) }}" class="img-responsive">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
