{% if sameCategories is not empty %} {# sameCategories #}
    {% set cpt = 0 %}
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'blog.same_category'|trans }}</h3>
            {% for post in sameCategories %}
                {% if post.id != article.id %}
                    {% if(post.translation('published', _locale) or (_locale == default_locale and post.published)) %}
                        {% if cpt < 3 %}
                            {% set cpt = cpt+1 %}
                            <div class="col-sm-4">
                                <div class="padding-content">
                                    {% include ':Blog:Blog/same_category.html.twig' with {'post': post} only %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}