<ul>
    <li><strong>Prénom : </strong>{{ reservation.firstname }}</li>
    <li><strong>Nom : </strong>{{ reservation.lastname }}</li>
    <li><strong>Email : </strong>{{ reservation.email }}</li>
    <li><strong>Mobile : </strong>{{ reservation.mobile }}</li>
    <li><strong>Message : </strong>{{ reservation.message }}</li>
    <li><strong>Evènement : </strong>{{ reservation.article.name }}</li>
    <li><strong>Lieu : </strong>{{ reservation.lieu.name }}</li>
</ul>
