{% embed ':Partials:footer.html.twig' %}

    {% block footerContent %}
        {{ parent() }}
        {% if app.user and  (app.user.granted('ROLE_SUPER_ADMIN') or app.user.granted('ROLE_ADMIN')) %}
            <p class="text-right margin-top-20">
                <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-default" target="_blank">Administration du site</a>
                <a href="{{ path('admin_cms_blog_article_edit', {'id' : article.id}) }}" class="btn btn-default" target="_blank">Editer l'article</a>
            </p>
        {% endif %}
    {% endblock %}

{% endembed %}