{% set articleUrl = url('blog_article_show', {'articleLink' : article.articleLink, '_locale': app.request.locale}) %}
<div class="social-share row">
        <div class="col-sm-4">
            <a class="btn btn-facebook btn-block" href="https://www.facebook.com/sharer/sharer.php?u={{ articleUrl|url_encode }}" target="_blank">
                <i class="fa fa-facebook-square fa-2x"></i>
                <span>Facebook</span>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-twitter btn-block" href="https://twitter.com/home?status={{ articleUrl|url_encode }}" target="_blank">
                <i class="fa fa-twitter-square fa-2x"></i>
                <span>Twitter</span>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-google-plus btn-block" href="https://plus.google.com/share?url={{ articleUrl|url_encode }}" target="_blank">
                <i class="fa fa-google-plus-square fa-2x"></i>
                <span>Google Plus</span>
            </a>
        </div>

</div>