{% if article.tags is not empty %}
    <div class="row">
        <div class="col-xs-12">
            {% if title %}<h3>{{ 'blog.keyword'|trans }}</h3>{% endif %}
            <ul class="post-tag">
                {% for tag in article.tags %}
                    {% if tag.translation('slug', app.request.locale) %}
                        <li><a href="
                        {{ path('cms_blog_list_tag', {'tagSlug':tag.translation('slug', app.request.locale), '_locale' : app.request.locale}) }}
                        "><i class="fa fa-tag"></i>&nbsp;{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}