{% if article.category.name is defined %} {#title#}
    {{ article.name }} - {{ article.category.name }} | {{ config.siteName }}
{% else %}
    {{ article.name }} | {{ config.siteName }}
{% endif %}

