{% if article.videos is not empty %}
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ 'blog.video'|trans }}</h3>
            {% for video in article.videos %} {# videos #}
                <div class="col-xs-6 margin-bottom-20">
                    <a class="fancybox-media" href="http://www.youtube.com/watch?v={{ video.media.providerreference }}">
                        <img src="{% path video.media, 'large' %}" alt="{{ alt(video.media) }}" class="img-responsive">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}