{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/lib/codemirror.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/theme/monokai.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cmsbloc/js/admin/blocEdit.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/css/css.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/css-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/javascript/javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/javascript-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/html-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/closebrackets.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/matchbrackets.js') }}"></script>

    <script>
        $(function () {
            CodeMirror.fromTextArea($('textarea[id$="contentText"]')[0], {
                theme:'monokai',
                matchBrackets:true,
                autoCloseBrackets:true,
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });
            CodeMirror.fromTextArea($('textarea[id$="css"]')[0], {
                mode:'css',
                theme:'monokai',
                matchBrackets:true,
                autoCloseBrackets:true,
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });
            CodeMirror.fromTextArea($('textarea[id$="script"]')[0], {
                mode:'javascript',
                theme:'monokai',
                matchBrackets:true,
                autoCloseBrackets:true,
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });
        });
    </script>
{% endblock %}

{% block form %}
    {#Permet de precharger le type de bloc#}
    {% if object.blocCategory.id is defined %}
	<script>var blocCategoryId = "{{ object.blocCategory.id }}";</script>
    {% else %}
	<script>var blocCategoryId = 1;</script>
    {% endif %}
    {{ parent() }}

{% endblock %}
