{% set content = (_locale == default_locale) ? bloc.contentHtml : bloc.translation('contentHtml', _locale) %}

<div data-type="wysihtml5" data-pk="{{ bloc.id }}" id="bloc-wysiwyg-{{ bloc.id }}">
    {{ content|raw }}
</div>
<script>
    $('#bloc-wysiwyg-{{ bloc.id }}').editable({
        url: '{{ path('bloc_edit_bloc_wysiwyg', {'_locale': _locale}) }}',
        placement: 'bottom',
        wysihtml5 : {
            "fa": true,
            toolbar: {
                'color': true
            }
        }
    });
</script>

