{% extends 'base.html.twig' %}
{% block title %}500 : Erreur interne ! {{ parent() }}{% endblock %}
{% block content %}
    <h1>500 : Erreur interne !</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}