{% extends 'base.html.twig' %}
{% block title %}404 : Page introuvable !{{ parent() }}{% endblock %}
{% block content %}
    <h1>404 : Page introuvable !</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}