{% extends 'base.html.twig' %}
{% block title %}Erreur ! {{ parent() }}{% endblock %}
{% block content %}
    <h1>Oups! Une erreur est survenue</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}
