{% extends 'base.html.twig' %}
{% block title %}403 : Accès refusé ! {{ parent() }}{% endblock %}
{% block content %}
    <h1>403 : Accès refusé !</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}