<ul>
    <li><strong>Début : </strong>{{ reservation.start|date('d/m/y') }}</li>
    <li><strong>Fin : </strong>{{ reservation.end|date('d/m/y') }}</li>
    <li><strong>Adulte : </strong>{{ reservation.nbrAdult }}</li>
    <li><strong>Enfant : </strong>{{ reservation.nbrChild }}</li>
    <li><strong>Prénom : </strong>{{ reservation.firstname }}</li>
    <li><strong>Nom : </strong>{{ reservation.lastname }}</li>
    <li><strong>Email : </strong>{{ reservation.email }}</li>
    <li><strong>Mobile : </strong>{{ reservation.mobile }}</li>
    <li><strong>Logement : </strong>{{ reservation.house.name }}</li>
</ul>
