{% set blocs = getBlocs(['slider-homepage', 'homepage-top-img', 'homepage-content','homepage-separator', 'homepage-titre-1', 'homepage-content-1', 'homepage-titre-2', 'homepage-content-2', 'homepage-titre-3', 'homepage-content-3', 'homepage-titre-4', 'homepage-content-4']) %}

{#<section id="slider_focus">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-sm-12">#}
                {#{{ include(template_from_string(showBloc(blocs['homepage-slider']))) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}
<section id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['slider-homepage']))) }}
            </div>
            <div class="col-xs-12 img-center">
                {{ include(template_from_string(showBloc(blocs['homepage-top-img']))) }}
            </div>
        </div>
        {% if showMetaH1 %}
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ metaH1 }}</h1>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['homepage-content']))) }}
            </div>
        </div>
        <div class="row">
            <div id="img-separator" class="col-xs-12 img-center img-extend">
                {{ include(template_from_string(showBloc(blocs['homepage-separator']))) }}
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ include(template_from_string(showBloc(blocs['homepage-titre-1']))) | raw }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['homepage-content-1']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ include(template_from_string(showBloc(blocs['homepage-titre-2']))) | raw }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['homepage-content-2']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ include(template_from_string(showBloc(blocs['homepage-titre-3']))) | raw }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['homepage-content-3']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ include(template_from_string(showBloc(blocs['homepage-titre-4']))) | raw }}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['homepage-content-4']))) }}
            </div>
        </div>
    </div>
</section>