{% set blocs = getBlocs([1, 2], false) %}

<div class="container">
    <div class="row">
        <h1>{{ metaH1 }}</h1>
        {{ include(template_from_string(showBloc(blocs[1]))) }}
        {{ include(template_from_string(showBloc(blocs[2]))) }}
    </div>
</div>