<div id="collection-{{ '{{' }} collection.slug {{ '}}' }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {{ '{%' }} for item in items {{ '%}' }}
			<li data-target="#{{ '{{' }} collection.slug {{ '}}' }}" data-slide-to="{{ '{{' }} loop.index0 {{ '}}' }}" {{ '{%' }} if loop.first %} class="active"{{ '{%' }} endif {{ '%}' }}</li>
        {{ '{%' }} endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {{ '{%' }} for item in items {{ '%}' }}
            {{ '{{' }} include(template_from_string(collection.collectionType.itemContent)) {{ '}}' }}
        {{ '{%' }} endfor {{ '%}' }}
    </div>
    <a class="left carousel-control" href="#{{ '{{' }} collection.slug {{ '}}' }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#{{ '{{' }} collection.slug {{ '}}' }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

