<div class="item{{ '{%' }} if loop.first {{ '%}' }} active{{ '{%' }} endif {{ '%}' }}">
    <img class="lazy" src="{{ '{%' }} path item.cover, 'xxx_large' {{ '%}' }}" data-original="{{ '{%' }} path item.cover, 'xxx_large' {{ '%}' }}" alt="{{ '{{' }} alt(item.cover) {{ '}}' }}">
    <noscript><img src="{{ '{%' }} path item.cover, 'xxx_large' {{ '%}' }}"  alt="{{ '{{' }}alt(item.cover) {{ '}}' }}"></noscript>
    {{ '{%' }} if item.content is not null {{ '%}' }}
        <div class="carousel-caption">
            {{ '{{' }} item.content|raw {{ '}}' }}
        </div>
    {{ '{%' }} endif {{ '%}' }}
</div>