{% extends "::base.html.twig" %}

{% block title %}{{ service.name }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include ':Service/Single/Partials:name.html.twig' with {'service': service} only %}
            <div class="col-sm-4">
                {% include ':Service/Single/Partials:cover.html.twig'  with {'service': service} only %}
                {% include ':Service/Single/Partials:content.html.twig'  with {'service': service} only %}
            </div>
            <div class="col-sm-4">
                {% include ':Service/Single/Partials:fields.html.twig'  with {'service': service} only %}
            </div>
        </div>
        <div class="row">
            {% include ':Service/Single/Partials:pictures.html.twig'  with {'service': service} only %}
        </div>
        <div class="row">
            {% include ':Service/Single/Partials:videos.html.twig'  with {'service': service} only %}
        </div>
        <div class="row">
            {% include ':Service/Single/Partials:files.html.twig'  with {'service': service} only %}
        </div>
    </div>

{% endblock %}
