<footer>
    {% block footerContent %}
        <div class="container">
            <div class="navbar navbar-default navbar-custom">
                <div class="row">
                    <div class="col-xs-12 img-center">
                        {{ include(template_from_string(showBloc('footer-contenu'))) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">
                            © Interreg Caraïbes {{ "footer.copyright" | trans }} 2015 | <a href="{{ path('page_homepage') }}">{{ "footer.link.home" | trans }}</a> | <a href="{{ path('page_show', {'_locale': app.request.locale, 'pageLink': "contact"}) }}">{{ "footer.link.contact_us" | trans }}</a>
                            {#| <a>{{ "footer.link.site_map" | trans }}</a> | <a>{{ "footer.link.mentions" | trans }}</a>#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
