<header>
    {% block headerContent %}
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ path('page_homepage') }}">{{ include(template_from_string(showBloc('header-image'))) }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            {{ showMenu('main-menu') | raw }}
                            <ul id="head-external-link">
                                {% include ':Partials:header_external_links.html.twig' %}
                                {#{% include ':Partials:locale_switcher.html.twig' %}#}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
</header>
