{% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
    'assets/vendor/jquery.lazyload/jquery.lazyload.js'
    'assets/vendor/jquery-ui/jquery-ui.min.js'
    'assets/vendor/owlcarousel/owl-carousel/owl.carousel.min.js'
    'assets/vendor/jquery-mousewheel/jquery.mousewheel.min.js'
    'assets/vendor/fancybox/source/jquery.fancybox.pack.js'
    'assets/vendor/fancybox/source/helpers/jquery.fancybox-buttons.js'
    'assets/vendor/fancybox/source/helpers/jquery.fancybox-media.js'
    'assets/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.js'
    'assets/vendor/jquery.equalheights/jquery.equalheights.min.js'
    'assets/vendor/wowslider.js'
    'assets/vendor/jquery.browser.min.js'
output='js/compiled/script.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('assets/js/main-cms.js') }}"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->