{% if app.user and  (app.user.granted('ROLE_SUPER_ADMIN') or app.user.granted('ROLE_ADMIN')) and config.editBloc %}
    <script type="text/javascript" src="{{ asset('bundles/cmsbloc/js/addEditBlocAdmin.js') }}"></script>
    <script src="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/wysihtml5x/dist/wysihtml5x.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/x-editable/dist/inputs-ext/wysihtml5/wysihtml5.js') }}"></script>
{% endif %}

{% include 'CmsCoreBundle:Google:analytics.html.twig' %}
{% javascripts '@FOSCommentBundle/Resources/assets/js/comments.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>