<li class="locale_switcher">
    <span>
        {% spaceless %}
            {% include ':Locale:locale_page.html.twig' %}
            {% include ':Locale:locale_contact.html.twig' %}
            {% include ':Locale:locale_article.html.twig' %}
            {% include ':Locale:locale_tag.html.twig' %}
            {% include ':Locale:locale_category.html.twig' %}
            {% include ':Locale:locale_house_list.html.twig' %}
            {% include ':Locale:locale_house_single.html.twig' %}
            {% include ':Locale:locale_service_list.html.twig' %}
            {% include ':Locale:locale_service_single.html.twig' %}
        {% endspaceless %}
    </span>
</li>