{% stylesheets
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    'assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
    'assets/vendor/jquery-ui/themes/ui-lightness/jquery-ui.min.css'
    'assets/vendor/jquery-ui/themes/ui-lightness/theme.css'
    'assets/vendor/owlcarousel/owl-carousel/owl.carousel.css'
    'assets/vendor/owlcarousel/owl-carousel/owl.theme.css'
    'assets/vendor/animate.css/animate.min.css'
    'assets/vendor/fancybox/source/jquery.fancybox.css'
    'assets/vendor/fancybox/source/helpers/jquery.fancybox-buttons.css'
    'assets/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.css'
    'assets/vendor/fontawesome/css/font-awesome.min.css'
    '@FOSCommentBundle/Resources/assets/css/comments.css'
    'assets/css/style-cms.css'
filter='cssrewrite' output='css/compiled/style.css' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans" type="text/css" />

{% if app.user and  (app.user.granted('ROLE_SUPER_ADMIN') or app.user.granted('ROLE_ADMIN')) and config.editBloc %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap3-wysiwyg/dist/bootstrap3-wysihtml5.min.css') }}"/>
{% endif %}

<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>