<!DOCTYPE html>
{% block htmlDoctype %}
<html lang="{{ app.request.locale }}">
{% endblock %}
<head>
    {% set variables = vars() %} {# init variables #}
    {% set config = getConfig() %} {# init config #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | {{ config.siteName }}{% endblock %}</title> {#title#}
    <meta name="description" content="{% block metaDescription %}{% endblock %}"/> {#metaDescription#}
    <meta name="keywords" content="{% block metaKeyword %}{% endblock %}"/> {#metaKeyword#}
    {% if config.metaRobot %}
        <meta name="robots" content="none"/>
    {% endif %}
    {% block otherMeta %}
    {% endblock %} {#otherMeta#}
    {% block stylesheets %}{% include ':Partials:stylesheets.html.twig' %}{% endblock %}{#stylesheets#}
    {% block javascripts %}{% include ':Partials:javascripts.html.twig' %}{% endblock %}{#javascripts#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if config.siteOnline  or (app.user and  app.user.granted('ROLE_SUPER_ADMIN') ) %}

    {% block body %} {#body#}
        {% block prehome %}{{ showPrehome()|raw }}{% endblock %} {#prehome#}

            {% block header %}{% include ':Partials:header.html.twig' %}{% endblock %} {#Header#}
            {% block content %}{% endblock %} {#Content#}
            {% block footer %}{% include ':Partials:footer.html.twig' %}{% endblock %} {#Footer#}

    {% endblock %}

{% else %}
    {% block offline %}{{ include(':Partials:offline.html.twig') }}{% endblock %} {# Offline #}
{% endif %}

{% block javascriptsBottom %}{% include ':Partials:javascripts_bottom.html.twig' %}{% endblock %}{#javascriptsBottom#}
</body>
</html>

