{% if controller is not null %}
    {% if arguments is not empty %}
        {{ render(controller(controller.path, arguments)) }}
    {% else %}
        {{ render(controller(controller.path)) }}
    {% endif %}
{%  endif %}
