<ul class="nav navbar-nav" id="locale_switcher">
    {% for current_locale in sonata_translation_locales %}
        <li {% if current_locale == app.request.locale %}style="background: lightgrey"{% endif %}>
            <a href="#" accesskey="" class="current_locale" title="" data-lang="{{ current_locale }}">
                <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
            </a>
        </li>
    {% endfor %}
</ul>

<script>
    $(function () {
        $('#locale_switcher').on('click', '.current_locale', function () {
            var saveThis = $(this);
            var url = window.location.href.split('?')[0];
            $.ajax({
                type: 'POST',
                url: Routing.generate('admin_switch_lang')+'/'+saveThis.data('lang'),
                dataType: 'json'
            }).done(function (json) {
                document.location.href = url + '?tl=' + saveThis.data('lang');
            });
        })

    });
</script>