<ul class="nav navbar-nav">
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_LIST')%}
        <li class="dropdown" title="Articles non publiés">
            <a href="{{ path('admin_cms_blog_article_list') }}?filter[published][value]=2"><i class="fa fa-pencil-square-o"></i>  {{ CountUnpublished('CmsBlogBundle:Article') }}</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COMMENT_ADMIN_COMMENT_LIST')%}
        <li class="dropdown" title="Commentaires non modérés">
            <a href="{{ path('admin_cms_comment_comment_list') }}?filter[published][value]=2"><i class="fa fa-comment-o"></i>  {{ CountUnpublished('CmsCommentBundle:Comment') }}</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONTACT_ADMIN_CONTACT_LIST')%}
        <li class="dropdown" title="Messages non lus">
            <a href="{{ path('admin_cms_contact_contact_list') }}?filter[published][value]=2"><i class="fa fa-envelope-o"></i>  {{ CountUnpublished('CmsContactBundle:Contact') }}</a>
        </li>
    {% endif %}
    {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_HOUSE_ADMIN_HOUSE_LIST')) and CheckBundle('ExtraHouseBundle') %}
        <li class="dropdown" title="Réservation non consultée">
            <a href="{{ path('admin_extra_house_reservation_list') }}?filter[published][value]=2"><i class="fa fa-home"></i>  {{ CountUnpublished('ExtraHouseBundle:Reservation') }}</a>
        </li>
    {% endif %}
</ul>