<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-plus-square fa-fw"></i>  Ajouter</a>
        <ul class="dropdown-menu">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_CREATE') %}<li><a href="{{ path('admin_cms_blog_article_create') }}"><span class="glyphicon glyphicon-pencil"></span>Article</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_CREATE') %}<li><a href="{{ path('admin_cms_page_page_create') }}"><span class="glyphicon glyphicon-list-alt"></span>Page</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_NAV_ADMIN_MENU_CREATE') %}<li><a href="{{ path('admin_cms_nav_menu_create') }}"><i class="fa fa-sitemap"></i>Menu</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_BLOC_CREATE') %}<li><a href="{{ path('admin_cms_bloc_bloc_create') }}"><span class="glyphicon glyphicon-folder-close"></span>Bloc</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_CREATE') %}<li><a href="{{ path('admin_cms_collection_collection_create') }}"><i class="fa fa-th-list"></i>Collection</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_MEDIA_ADMIN_MEDIA_CREATE') %}<li><a href="{{ path('admin_sonata_media_media_create') }}"><span class="glyphicon glyphicon-picture"></span>Média</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PREHOME_ADMIN_PREHOME_CREATE') %}<li><a href="{{ path('admin_cms_prehome_prehome_create') }}"><i class="fa fa-picture-o"></i>Préhome</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONFIG_ADMIN_VARIABLE_CREATE') %}<li><a href="{{ path('admin_cms_config_variable_create') }}"><i class="fa fa-area-chart"></i>Variable</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONFIG_ADMIN_HTML_CREATE') %}<li><a href="{{ path('admin_cms_config_html_create') }}"><i class="fa fa-code"></i>Html</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_USER_ADMIN_USER_CREATE') %}<li><a href="{{ path('admin_sonata_user_user_create') }}"><i class="fa fa-users"></i>Utilisateur</a></li>{% endif %}
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_HOUSE_ADMIN_HOUSE_CREATE')) and CheckBundle('ExtraHouseBundle') %}<li><a href="{{ path('admin_extra_house_house_create') }}"><i class="fa fa-home"></i>Logement</a></li>{% endif %}
            {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_SERVICE_ADMIN_SERVICE_CREATE')) and CheckBundle('ExtraServiceBundle') %}<li><a href="{{ path('admin_extra_service_service_create') }}"><i class="fa fa-bullhorn"></i>Service</a></li>{% endif %}
        </ul>
    </li>
</ul>