<ul class="sidebar-menu">

    {% include ':SonataAdmin/Menu/LeftMenu:blog.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:media.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:page.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:extra_house.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:extra_service.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:communication.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:config.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:nav.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:bloc.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:collection.html.twig' %}
    {% include ':SonataAdmin/Menu/LeftMenu:integration.html.twig' %}

    <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-tachometer"></i> Accueil</a></li>
    <li><a href="{{ path('page_homepage') }}" target="_blank"><i class="fa fa-eye"></i> Voir le site</a></li>
</ul>


<script type="application/javascript">
    $(function () { // activation du menu correspondant à l'URL actuelle
        // 1er cas :  corresponadnce exacte
        var item = $('.sidebar-menu a[href="' + location.pathname + '"]');

        // 2ème cas : au plus proche, c'est à dire l'item de menu qui partage le prefix le plus grand
        if (item.length === 0) {
            var path = location.pathname.split('/').slice(0, -1).join('/');
            while ((item = $('.sidebar-menu a[href^="' + path + '/"]')).length === 0 && path.length) {
                path = path.split('/').slice(0, -1).join('/');
            }
        }
        item.parents('li').addClass('active');
    });
</script>