{% extends '::base.html.twig' %}

{% block title %}{{ page.metaTitle }} {{ parent() }}{% endblock %}
{% block metaDescription %}{{ parent() }} {{ page.metaDescription|raw }}{% endblock %}
{% block metaKeyword %}{{ parent() }} {{ page.metaKeyword|raw }}{% endblock %}
{% block otherMeta %}{{ parent() }}{{ page.otherMeta|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.pageType.style is not empty %}
        {{ include(template_from_string(page.pageType.style)) }}
    {% endif %}
{% endblock %}


{% block content %}
    {% if page.pageType.content is not empty %}
        {{ include(template_from_string(page.pageType.content)) }}
    {% endif %}
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    {% if page.pageType.script is not empty %}
        {{ include(template_from_string(page.pageType.script)) }}
    {% endif %}
{% endblock %}
