{% if topNews is not empty %}
    <div id="carousel-topnews" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            {% if topNews[0].cover %}
                <div class="item active">
                    <img src="{% path topNews[0].cover, 'xxx_large' %}" alt="{{ alt(topNews[0].cover) }}">

                    <div class="carousel-caption clearfix vertical-align">
                        {{ topNews[0].shortContent|raw }}
                        <a role="button" class="btn btn-default"
                           href="{{ path('blog_article_show', {'articleLink' : topNews[0].articleLink, '_locale': app.request.locale}) }}">{{ 'blog.read_more' | trans }}</a>
                        {% if topNews[0].allowInscriptions %}
                            <a role="button" class="btn btn-default"
                               href="{{ path('blog_article_show', {'articleLink' : topNews[0].articleLink, '_locale': app.request.locale}) }}#subscribe">{{ 'blog.subscribe' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% for topNew in topNews[1 : topNews | length] %}
                {% if topNew.cover %}
                    <div class="item">
                        <img src="{% path topNew.cover, 'xxx_large' %}" alt="{{ alt(topNew.cover) }}">

                        <div class="carousel-caption clearfix vertical-align">
                            {{ topNew.shortContent|raw }}
                            <a role="button" class="btn btn-default pull-right"
                               href="{{ path('blog_article_show', {'articleLink' : topNew.articleLink, '_locale': app.request.locale}) }}">{{ 'blog.read_more' | trans }}</a>
                            {% if topNew.allowInscriptions %}
                                <a role="button" class="btn btn-default pull-right"
                                   href="{{ path('blog_article_show', {'articleLink' : topNew.articleLink, '_locale': app.request.locale}) }}#subscribe">{{ 'blog.subscribe' | trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if topNews | length > 1 %}
            <a class="left carousel-control" href="#carousel-topnews" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">{{ 'homepage.slider.previous' | trans }}</span>
            </a>
            <a class="right carousel-control" href="#carousel-topnews" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">{{ 'homepage.slider.next' | trans }}</span>
            </a>
        {% endif %}
    </div>
{% endif %}
