<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title><![CDATA[{{ rssTitle }}]]></title>
        <link>{{ rssLink }}/uploads/xml/feed.xml</link>
        <description><![CDATA[{{ rssDescription }}]]></description>
        <pubDate>{{ pubDate|date('r') }}</pubDate>
        <lastBuildDate>{{ pubDate|date('r') }}</lastBuildDate>
        <image>
            <url>{{ rssLink }}favicon.ico</url>
            <title><![CDATA[{{ rssTitle }}]]></title>
            <link>{{ link }}</link>
        </image>
        <generator>{{ rssLink }}</generator>
        <language>fr-FR</language>
        {% for post in posts %}
            {% if
                post.translation('published', _locale) or
                (default_locale == _locale and post.published)
            %}
                <item>
                    <title><![CDATA[{{ post.name }}]]></title>
                    <link>{{ url('blog_article_show', {'articleLink' : post.articleLink, '_locale': app.request.locale}) }}</link>
                    <description><![CDATA[{{ post.shortContent|raw }}]]></description>
                    <guid>{{ url('blog_article_show', {'articleLink' : post.articleLink, '_locale': app.request.locale}) }}</guid>
                    <pubDate>{{ post.updated|date('r') }}</pubDate>
                    {% if post.cover.contentType is defined %}
                        <enclosure url="{{ rssLink }}{% path post.cover, 'xxx_large' %}" type="{{ post.cover.contentType }}" length="{{ post.cover.length }}"/>
                    {% endif %}
                    {% if post.category.name is defined %}
                        <category><![CDATA[{{ post.category.name|raw }}]]></category>
                    {% endif %}
                    {% if post.author is not null %}
                        <author><![CDATA[{{ post.author }}]]></author>
                    {% endif %}
                </item>
            {% endif %}
        {% endfor %}
    </channel>
</rss>