{% extends "::base.html.twig" %}
{% block title %}{% include ':Blog/Single/Default:title.html.twig' with {'article': article, 'config': config} only %}{% endblock %}
{% block metaDescription %}{{ article.shortContent|striptags|raw }}{% endblock %}
{% block otherMeta %}
    {{ parent() }} {#Facebook OG#}
    {% include ':Blog/Single/Default:meta_facebook.html.twig' with {'article': article, 'config': config} only %}
{% endblock %} {#otherMeta#}

{% block content %} {#Content#}
    <article class="container show-post" data-post="{{ article.id }}">
        <div class="row">
            <div class="col-xs-12">
                <h1>{% block h1 %}{{ article.name }}{% endblock %}</h1>

                {% if article.dateEvent is not null %}
                    <span><strong>Date de l'évènement:</strong> {{ article.dateEvent | date('m/d/Y') }}</span>
                {% endif %}
            </div>
            <div class="col-sm-8">
                {% include ':Blog/Single/Default:cover.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:content.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:fields.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:social_share.html.twig' with {'article': article} only %}
                {% if article.allowInscriptions %}
                    {% include ':Blog/Single/Default:inscription.html.twig' with {'article': article, 'form' : form} only %}
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% include ':Blog/Single/Default:category.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:publish_date.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:author.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:tags.html.twig' with {'title' : true, 'article': article} only %}
                {% include ':Blog/Single/Default:pictures.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:videos.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:files.html.twig' with {'article': article} only %}
                {% include ':Blog/Single/Default:category_menu.html.twig' with {'categories': categories} only %}
            </div>
            <div class="col-sm-12">
                {% include ':Blog/Single/Default:same_category.html.twig' with {'article': article, 'sameCategories': sameCategories, '_locale': _locale} only %}
                {% include ':Blog/Single/Default:comments.html.twig' with {'article': article, 'config': config, 'threadComments' : threadComments} only %}
            </div>
        </div>
    </article>
{% endblock %}

{% block footer %} {#Footer#}
    {% include ':Blog/Single/Default:single_button_edit.html.twig' %}

{% endblock %}


