{% if template is not null %}
    {% if template.dynamic %}
        {{ include(template_from_string(template.content)) }}
    {% else %}
        {% include template.templatePath %}
    {% endif %}
{% endif %}

