{% if collection.collectionType.collectionContent is not null %}

    {{ include(template_from_string(collection.collectionType.collectionContent)) }}

    {% if collection.collectionType.script is not null %}
        {{ include(template_from_string(collection.collectionType.script)) }}
    {% endif %}
    {% if collection.collectionType.style is not null %}
        {{ include(template_from_string(collection.collectionType.style)) }}
    {% endif %}

{% endif %}