<div class="blog">
    <div class="posts">
        {% include ':Blog:loop.html.twig' with {'posts': posts, 'bloc': bloc} only %}
    </div>
    {% include ':Blog/Partials:ajax_loader.html.twig' %}
</div>