{% extends "::base.html.twig" %}

{% block title %}{{ category.name }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="categories" data-category="{{ category.id }}">
            <div class="col-xs-12 list-categories">
                <h1>{{ category.name }}</h1>
                {% include ':Blog:loop.html.twig' with {'posts': posts} only %}
            </div>
            <div class="col-xs-12">
                {% include ':Blog/Partials:ajax_loader.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}