{% for post in posts %}
    {% if
        post.translation('published', app.request.locale) or
        (default_locale == app.request.locale and post.published)
    %}
        {% if bloc is defined %}
            {% include bloc.getBlogType.getTemplatePath with {'post': post} only %}
        {% else %}
            {% include ':Blog:Blog/default.html.twig' with {'post': post} only %}
        {% endif %}
    {% endif %}
{% endfor %}