{% extends "::base.html.twig" %}

{% block title %}{{ tagSearch.name }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="tags" data-tag="{{ tagSearch.id }}">
            <div class="col-xs-12 list-tags">
                <h1>{{ tagSearch.name }}</h1>
                {% include ':Blog:loop.html.twig' with {'posts': posts} only %}
            </div>
            <div class="col-xs-12">
                {% include ':Blog/Partials:ajax_loader.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}