<div id="collection-{{ collection.slug }}" data-collection="{{ collection.id }}">
    {% for item in items %}
        <div class="item" data-item="{{ item.id }}">
            {% include ':Collection/Default:name.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:sub_title.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:cover.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:short_content.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:content.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:extra_content.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:script.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:pictures.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:videos.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:files.html.twig' with {'item': item} only %}
            {% include ':Collection/Default:links.html.twig' with {'item': item} only %}
        </div>
    {% endfor %}
</div>