<div id="{{ collection.slug }}">
	{% for item in items %}
		<div class="item">
            <img class="lazy" src="{% path item.cover, 'xxx_large' %}" data-original="{% path item.cover, 'xxx_large' %}" alt="{{ alt(item.cover) }}">
        </div>
	{% endfor %}
</div>

<script>
	$('#{{ collection.slug }}').owlCarousel({
		animateIn: 'fadeIn',
		animateOut: 'fadeOut',
		items: 1,
		loop: true,
		margin: 10,
		autoplay: true,
		autoHeight: true,
		lazyLoad:true
	});
</script>