{% if config.allowBlogComment == '1' and house.allowComment %} {#Comments#}
    <div id="fos_comment_thread" data-thread="{{ threadComments.thread.id }}">

        {% include 'FOSCommentBundle:Thread:comments.html.twig' with {
        'comments': threadComments.comments,
        'thread': threadComments.thread
        } %}
    </div>
{% endif %}