{% if house.cover is not null %} {#cover#}
    <a class="fancybox" rel="group" href="{% path house.cover, 'xxx_large' %}" title="{{ alt(house.cover) }}">
        <img class="lazy thumbnail img-responsive" src="{% path house.cover, 'xx_large' %}" data-original="{% path house.cover, 'xx_large' %}" alt="{{ alt(house.cover) }}">
        <noscript><img class="thumbnail img-responsive" src="{% path house.cover, 'xx_large' %}" alt="{{ alt(house.cover) }}"></noscript>
    </a>
{% endif %}