{% if house.equipments is not empty %} {# equipments #}
    <h3>{{ 'house.single.equipment'|trans }}</h3>
    <ul>
        {% for equipment in house.equipments %}
            <li>{{ equipment.name }}</li>
        {% endfor %}
    </ul>
{% endif %}