{% if house.files is not empty %}
    <div class="col-xs-12"><h3>{{ 'house.single.files'|trans }}</h3></div>
    {% for file in house.files %} {# files #}
        <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
            <a href="{% path file.media, 'reference' %}" target="_blank" title="{{ alt(file.media) }}">
                <img src="{{ asset('assets/img/file.png') }}" alt="{{ 'house.single.files'|trans }}" class="img-responsive">
            </a>
        </div>
    {% endfor %}
{% endif %}