{% if house.prices is not empty %}
    <h3>{{ 'house.single.prices'|trans }}</h3>
    <ul>
        {% for price in house.prices %} {# price #}
            {% if _locale == 'en' %}
                <li>{{ 'house.single.start'|trans }} {{ price.start | date('m/d/Y') }} {{ 'house.single.end'|trans }} {{ price.end | date('m/d/Y') }} <strong>{{ price.price }}</strong></li>
            {% elseif _locale == 'fr' %}
                <li>{{ 'house.single.start'|trans }} {{ price.start | date('d/m/Y') }} {{ 'house.single.end'|trans }} {{ price.end | date('d/m/Y') }} <strong>{{ price.price }}</strong></li>
            {% else %}
                <li>{{ 'house.single.start'|trans }} {{ price.start | date('d/m/Y') }} {{ 'house.single.end'|trans }} {{ price.end | date('d/m/Y') }} <strong>{{ price.price }}</strong></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}