{{ form_start(form, {'action' : path('extra_house_reservation', {'_locale': app.request.locale, 'house': house.slug})}) }}
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.start, 'house.form.start'|trans) }}
        {{ form_widget(form.start) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.end, 'house.form.end'|trans) }}
        {{ form_widget(form.end) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.nbrAdult, 'house.form.nbrAdult'|trans) }}
        {{ form_widget(form.nbrAdult) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.nbrChild, 'house.form.nbrChild'|trans) }}
        {{ form_widget(form.nbrChild) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.firstname, 'house.form.firstname'|trans) }}
        {{ form_widget(form.firstname) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.lastname, 'house.form.lastname'|trans) }}
        {{ form_widget(form.lastname) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.email, 'house.form.email'|trans) }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group">
        {{ form_label(form.mobile, 'house.form.mobile'|trans) }}
        {{ form_widget(form.mobile) }}
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        {{ form_label(form.message, 'house.form.message'|trans) }}
        {{ form_widget(form.message) }}
    </div>
</div>
<div class="col-sm-12 text-right">
    {{ form_widget(form.save, {'label': 'house.form.save'|trans}) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    $(function() {
        $( ".date" ).datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>