{% for flashMessage in app.session.flashbag.get('reservation') %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ flashMessage }}
    </div>
{% endfor %}

<h3 class="col-xs-12">{{ 'house.form.reservation_request'|trans }}</h3>
{{ render(controller('ExtraHouseBundle:House:reservation', {'house': house.slug})) }}