{% if house.videos is not empty %} {# pictures #}
    <div class="col-xs-12">
        <h3>{{ 'house.single.videos'|trans }}</h3>
    </div>
    {% for media in house.videos %}
        <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
            <a class="fancybox" rel="group" href="{% path media.media, 'xxx_large' %}" title="{{ alt(media.media) }}">
                <img src="{{ media.media | liip('square') }}" alt="{{ alt(media.media) }}" class="img-responsive">
            </a>
        </div>
    {% endfor %}
{% endif %}