{% if prehome is defined %}
	<div class="container">		
		<div id="lauch-prehome" data-target="#modalPrehome" data-toggle="modal"></div>
		<div class="modal fade" id="modalPrehome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="prehome modal-content">
					<div class="modal-body">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h2 class="modal-title" id="myModalLabel">{{ prehome.name }}</h2>
						</div>
						<strong>{{ prehome.shortContent|raw }}</strong>
						{{ prehome.content|raw }}
						{% if prehome.cover is not null %}
							<img src="{% path prehome.cover, 'xxx_large' %}" alt="{{ alt(prehome.cover) }}" class="thumbnail img-responsive" />
						{% endif %}
						{% if prehome.link  is not null %}
							<a href="{{ prehome.link }}" target="_blank" class="btn btn-primary btn-block">{{ prehome.linkAnchor }}</a>
						{% endif %}
					</div>
				</div>
			</div>	
		</div>	
		<script type="text/javascript">
			$(function () {
				$('#lauch-prehome').trigger('click');
			});
		</script>
	</div>
{% endif %}