{% extends "::base.html.twig" %}

{% block title %}{{ 'house.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/extra/house.css') }}"/>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script src="{{ asset('assets/js/extra/house.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ 'house.title'|trans }}</h1>
            {% for house in houses %}
                {% include ':House/List:loop.html.twig' with {'house': house} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


