{% set topClass = (house.top) ? 'col-sm-12' : 'col-sm-3' %}
{% set liipFilter = (house.top) ? 'slide_full_hd' : 'large' %}
{% set houseEqual = (house.top) ? '' : 'house-content' %}
<article data-house="{{ house.id }}" class="house {{ topClass }}">
    {% include ':House/List/Partials:cover.html.twig' %}
    {% include ':House/List/Partials:content.html.twig' %}
    {% include ':House/List/Partials:read_more.html.twig' %}
</article>
