{% extends  '::base.html.twig' %}

{#SEO#}
{% block title %}{{ page.metaTitle }} {{ parent() }}{% endblock %}
{% block metaDescription %}{{ parent() }} {{ page.metaDescription|raw }}{% endblock %}
{% block metaKeyword %}{{ parent() }} {{ page.metaKeyword|raw }}{% endblock %}
{% block otherMeta %}{{ parent() }}{{ page.otherMeta|raw }}{% endblock %}
{# End SEO #}

{# CSS #}
{% block stylesheets %}
    {{ parent() }}
    {% if page.pageType is not null %}
        {{ page.pageType.style|raw }}{#Page CSS#}
    {% endif %}
    {% if model == 'BUILDER' %}
        {% for pageBloc in pageBlocs %} {#Bloc CSS#}
            {{ pageBloc.bloc.css|raw }}
        {% endfor %}
    {% endif %}
{% endblock %}	
{# End CSS #}


{# content #}
{% block content %}
    {{ parent() }}
    {% if (page.anonymous == false and app.user == null) %}
        {{ include(":Page:Partials/page_anonymous.html.twig") }}
    {% else %}
        {{ include(template_from_string(content)) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% include ':Page:Partials/page_button_edit.html.twig' %}
{% endblock %}



{# Script #}
{% block javascriptsBottom %}
    {{ parent() }}
    {% if page.pageType is not null %}
        {{ page.pageType.script|raw }} {#Page Script#}
    {% endif %}
    {% if model == 'BUILDER' %}
        {% for pageBloc in pageBlocs %} {#Bloc Script#}
            {{ pageBloc.bloc.script|raw }}
        {% endfor %}
    {% endif %}
{% endblock %}	
{# End Script #}
