{%  extends '@SonataAdmin/Core/dashboard.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% include 'CmsPageBundle:Admin:dashboard.html.twig' %}
        </div>
        <div class="col-sm-6">
            {% include 'CmsBlogBundle:Admin:dashboard.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
    </div>
{% endblock %}