{% extends "::base.html.twig" %}

{% block title %}{{ 'service.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/extra/service.css') }}"/>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    <script src="{{ asset('assets/js/extra/service.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ 'service.title'|trans }}</h1>
            {% for service in services %}
                {% include ':Service/List:loop.html.twig' with {'service': service} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
