{% if
service.translation('published', _locale)
or (current_locale == default_locale and service.published)
%}
    {% set topClass = (service.top) ? 'col-sm-12' : 'col-sm-3' %}
    {% set liipFilter = (service.top) ? 'slide_full_hd' : 'large' %}
    {% set serviceEqual = (service.top) ? '' : 'service-content' %}
    {% set serviceNameEqual = (service.top) ? '' : 'service-name-content' %}
    <article data-service="{{ service.id }}" class="service {{ topClass }}">
        {% include ':Service/List/Partials:cover.html.twig' %}
        {% include ':Service/List/Partials:name.html.twig' %}
        {% include ':Service/List/Partials:shortContent.html.twig' %}
        {% include ':Service/List/Partials:read_more.html.twig' %}
    </article>
{% endif %}
