{% if post.category.name is defined %}
    {% if post.category.translation('slug', app.request.locale) %}
        <a class="label {{ post.category.labelClass }}" href="
    {{ path('cms_blog_list_category', {'categorySlug':post.category.translation('slug', app.request.locale), '_locale': app.request.locale}) }}
    ">{{ post.category.name }}</a>
    {% endif %}
{% endif %}