<a href="{{ articleLink }}">
    <img class="lazy thumbnail img-responsive" src="{% path post.cover, 'xx_large' %}" data-original="{% path post.cover, 'xx_large' %}" alt="{{ alt(post.cover) }}">
    <noscript><img class="thumbnail img-responsive" src="{% path post.cover, 'xx_large' %}" alt="{{ alt(post.cover) }}"></noscript>
</a>
