{% if article.tags is not empty %}
    {% for tag in article.tags %}
        {% if tag.translation('slug', app.request.locale) %}
            <a class="label label-default" href="
            {{ path('cms_blog_list_tag', {'tagSlug':tag.translation('slug', app.request.locale), '_locale': app.request.locale}) }}
            "><i class="fa fa-tag"></i>&nbsp;{{ tag.name }}</a>
        {% endif %}
    {% endfor %}
{% endif %}