<h3 class="no-margin"><a href="{{ articleLink }}">{{ post.name }}</a></h3>
{% if post.dateEvent is not null %}
    <span><strong>Date de l'évènement:</strong> {{ post.dateEvent | date('d/m/Y') }}</span>
{% endif %}