{% if localSwitcherExtraService is defined %} {#Contact#}
    {% for current_locale in sonata_translation_locales %}
        <a href="{{ path('extra_service_list', {'_locale': current_locale}) }}" accesskey="" class="" title="">
            <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
        </a>
    {% endfor %}
{% endif %}