{% if localSwitcherExtraHouseSingle is defined %}
    {% for current_locale in sonata_translation_locales %}
        {% if
            house.translation('published', current_locale)
            or (current_locale == default_locale and house.published)
        %}
            <a href="{{ path('extra_house_single', {'_locale': current_locale, 'slug': house.translation('slug', current_locale)}) }}" accesskey="" class="" title="">
                <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
            </a>
        {% endif %}
    {% endfor %}
{% endif %}