{% if localSwitcherContact is defined %} {#Contact#}
    {% for current_locale in sonata_translation_locales %}
        {% if
            page.translation('published', current_locale)
        or (current_locale == default_locale and page.published)
        %}
            <a href="{{ path('cms_contact_contact', {'_locale': current_locale}) }}" accesskey="" class="" title="">
                <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
            </a>
        {% endif %}
    {% endfor %}
{% endif %}