{% if localSwitcherExtraServiceSingle is defined %}
    {% for current_locale in sonata_translation_locales %}
        {% if service.translation('published', current_locale) %}
            <a href="{{ path('extra_service_single', {'_locale': current_locale, 'slug': service.translation('slug', current_locale)}) }}" accesskey="" class="" title="">
                <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
            </a>
        {% endif %}
    {% endfor %}
{% endif %}