{% set articleLink = path('blog_article_show', {'articleLink' : post.articleLink, '_locale': app.request.locale}) %}
{% set classContent = (post.cover is not null) ? 'col-sm-9' : 'col-sm-12' %}
<article data-post="{{ post.id }}" class="show-post thumbnail padding-content">
    <div class="row">
        {% if post.cover is not null %}
            <div class="col-sm-3 blog-post-cover">
                {% include ':Blog/Blog/Default:cover.html.twig' with {'post': post, 'articleLink': articleLink} only %} {#cover#}
            </div>
        {% endif %}
        <div class="{{ classContent }} blog-post-content">
            {% include ':Blog/Blog/Default:title.html.twig' with {'post': post, 'articleLink': articleLink} only %} {#title#}
            {% include ':Blog/Blog/Default:meta.html.twig' with {'post': post} only %} {#meta#}
            {% include ':Blog/Blog/Default:short_content.html.twig' with {'post': post} only %} {#short content#}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 blog-post-meta">
            {% include ':Blog/Blog/Default:tags.html.twig' with {'article': post} only %} {#tags#}
        </div>
        <div class="col-sm-5">
            {% include ':Blog/Blog/Default:read_more.html.twig' with {'articleLink': articleLink} only %} {#read more#}
        </div>
    </div>
</article>