{% set articleLink = path('blog_article_show', {'articleLink' : post.articleLink, '_locale': app.request.locale}) %}
<article data-post="{{ post.id }}" class="show-post thumbnail padding-content">
    <div class="row same-category">
        {% if post.cover is not null %}
            <div class="col-xs-12 blog-post-cover">
                {% include ':Blog/Blog/SameCategory:cover.html.twig' with {'post': post, 'articleLink': articleLink} only %} {#cover#}
            </div>
        {% endif %}
        <div class="col-xs-12 blog-post-content">
            {% include ':Blog/Blog/SameCategory:title.html.twig' with {'post': post, 'articleLink': articleLink} only %} {#title#}
            {% include ':Blog/Blog/SameCategory:short_content.html.twig' with {'post': post} only %} {#short content#}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            {% include ':Blog/Blog/SameCategory:read_more.html.twig' with {'articleLink': articleLink} only %} {#read more#}
        </div>
    </div>
</article>