{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

    {% set variables = vars() %} {# init variables #}
    {% set config = getConfig() %} {# init config #}

    {% block sonata_head_title %}
        {{ config.siteName }} Admin |
        {{ parent() }}
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/cmsnav/css/jquery.mjs.nestedSortable.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cmscore/css/admin/admin.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/flag/flags.css') }}"/>
        {% stylesheets
        '@SonataTranslationBundle/Resources/public/less/sonata-translation.less' %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/admin.js') }}"></script>
        <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% endblock %}

    {% block logo %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            <img src="{{ asset('favicon.ico') }}" alt="{{ admin_pool.title }}">
            <span>{{ config.siteName }}</span>
        </a>
    {% endblock %}

    {% block sonata_breadcrumb %}
        <div class="hidden-xs">
            {{ include('SonataAdmin/Menu/menu_list.html.twig') }}
            {{ include('SonataAdmin/Menu/menu_add.html.twig') }}
            {{ include('SonataAdmin/Menu/menu_alert.html.twig') }}
            {#{{ include('SonataAdmin/Menu/menu_lang.html.twig') }}#}
        </div>
    {% endblock %}

    {% block sonata_sidebar_search %}
    {% endblock sonata_sidebar_search %}

    {% block side_bar_after_nav %}
    {% endblock %}

    {% block sonata_top_nav_menu %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        {% include admin_pool.getTemplate('add_block') %}
                    </li>
                {% endif %}
                <li class="dropdown user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% include admin_pool.getTemplate('user_block') %}
                    </ul>
                </li>
            </ul>
        </div>
    {% endblock %}

    {% block side_bar_nav %}
        {{ include('SonataAdmin/Menu/menu_left.html.twig') }}
        {#{%  if is_granted('ROLE_SUPER_ADMIN') %}#}
        {#{{ parent() }}#}
        {#{% endif %}#}
    {% endblock side_bar_nav %}