{% if service.cover is not null %} {#cover#}
    <a class="fancybox" rel="group" href="{% path service.cover, 'xxx_large' %}" title="{{ alt(service.cover) }}">
        <img class="lazy thumbnail img-responsive" src="{% path service.cover, 'xx_large' %}" data-original="{% path service.cover, 'xx_large' %}" alt="{{ alt(service.cover) }}">
        <noscript><img class="thumbnail img-responsive" src="{% path service.cover, 'xx_large' %}" alt="{{ alt(service.cover) }}"></noscript>
    </a>
{% endif %}