{% if service.files is not empty %}
    <div class="col-xs-12"><h3>{{ 'service.single.files'|trans }}</h3></div>
    {% for file in service.files %} {# files #}
        {% if file.media is not null %}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
                <a href="{% path file.media, 'reference' %}" target="_blank" title="{{ alt(file.media) }}">
                    <img src="{{ asset('assets/img/file.png') }}" alt="{{ 'service.single.files'|trans }}" class="img-responsive">
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
