{% if service.pictures is not empty %} {# pictures #}
    <div class="col-xs-12">
        <h3>{{ 'service.single.pictures'|trans }}</h3>
    </div>
    {% for picture in service.pictures %}
        {% if picture.media is not null %}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
            <a class="fancybox" rel="group" href="{% path picture.media, 'xxx_large' %}" title="{{ alt(picture.media) }}">
                <img src="{{ picture.media | liip('square') }}" alt="{{ alt(picture.media) }}" class="img-responsive">
            </a>
        {% endif %}
        </div>
    {% endfor %}
{% endif %}
