{% if service.videos is not empty %} {# videos #}
    <div class="col-xs-12">
        <h3>{{ 'service.single.videos'|trans }}</h3>
    </div>
    {% for media in service.videos %}
        {% if media.media is not null %}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
                <a class="fancybox" rel="group" href="{% path media.media, 'xxx_large' %}" title="{{ alt(media.media) }}">
                    <img src="{{ media.media | liip('square') }}" alt="{{ alt(media.media) }}" class="img-responsive">
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}