
<div class="col-md-12">
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_CREATE') %}
        <a class="btn btn-success" href="{{ path('nav_admin_create_page', {'menu' : menu.id}) }}">Créer une page</a>
    {% endif %}
<a class="btn btn-success" href="{{ path('nav_admin_create_link', {'menu' : menu.id}) }}">Créer un lien libre</a>
<a class="btn btn-success" href="{{ path('admin_cms_nav_link_edit', {'id' : menu.rootLink.id}) }}" target="blank">Editer le root link</a>
</div>

<script>
{#Init AJAX URL#}
    var updateOrderLink = "{{ path('nav_admin_update_order_link') }}";
    var updatePageName = "{{ path('nav_admin_update_page_name') }}";
    var rootID = "{{ rootLink.id }}";
</script>


<div class="table-tbody col-md-12">	
    {{ nodes|raw }}
</div>




