{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        function linkTypeState() {
            $('div[class|="link"]').hide();
            var selectLinkType = $('select[id$="linkType"]').val();
            if(selectLinkType == 'PAGE') {
                $('.link-page').show();
            }
            if(selectLinkType == 'LINK') {
                $('.link-url').show();
            }
            if(selectLinkType == 'ROUTE') {
                $('.link-route').show();
            }
        }

        $(function () {
            linkTypeState();
            $('div[id$="linkType"]').on('change', function() {
                linkTypeState();
            })
        });
    </script>

{% endblock %}