{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cmscore/js/admin/jquery.mjs.nestedSortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsnav/js/admin/childrenHierarchyNested.js') }}"></script>
{% endblock%}

{% block form %}
	{{ parent() }}
	{% if admin.id(object) is not null %}
		{{ render(controller('CmsNavBundle:Admin:getLinks', {'menu' : object })) }}
	{% endif %}
{% endblock%}
