{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_BLOC_ADMIN_BLOC_LIST') or
is_granted('ROLE_CMS_BLOC_ADMIN_BLOC_CREATE') or
is_granted('ROLE_CMS_BLOC_ADMIN_GROUP_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-folder-close">&nbsp;</span><span>Bloc</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOC_ADMIN_BLOC_LIST') %}<li><a href="{{ path('admin_cms_bloc_bloc_list') }}">Bloc</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOC_ADMIN_BLOC_CREATE') %}<li><a href="{{ path('admin_cms_bloc_bloc_create') }}">Créer un bloc</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_GROUP_ADMIN_GROUP_LIST') %}<li><a href="{{ path('admin_cms_group_group_list') }}">Groupe</a></li>{% endif %}
        </ul>
    </li>
{% endif %}