{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_LIST')  or
is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_CREATE')  or
is_granted('ROLE_CMS_BLOG_ADMIN_CATEGORY_LIST') or
is_granted('ROLE_CMS_BLOG_ADMIN_LIEU_LIST') or
is_granted('ROLE_CMS_BLOG_ADMIN_TAG_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-pencil">&nbsp;</span><span>Article</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_LIST') %}<li><a href="{{ path('admin_cms_blog_article_list') }}">Article</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_CREATE') %}<li><a href="{{ path('admin_cms_blog_article_create') }}">Créer un article</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_CATEGORY_LIST') %}<li><a href="{{ path('admin_cms_blog_category_list') }}">Catégorie</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_TAG_LIST') %}<li><a href="{{ path('admin_cms_blog_tag_list') }}">Mots clés</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_LIEU_LIST') %}<li><a href="{{ path('admin_cms_blog_lieu_list') }}">Lieux</a></li>{% endif %}
        </ul>
    </li>
{% endif %}