{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_LIST') or
is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_CREATE') or
is_granted('ROLE_CMS_COLLECTION_ADMIN_ITEM_LIST')
%}
    <li icon="<i class='fa fa-th-list'></i>" class="treeview">
        <a href="#"><i class="fa fa-th-list"></i><span>Collection</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_LIST') %}<li><a href="{{ path('admin_cms_collection_collection_list') }}">Collection</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_CREATE') %}<li><a href="{{ path('admin_cms_collection_collection_create') }}">Créer une collection</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COLLECTION_ADMIN_ITEM_LIST') %}<li><a href="{{ path('admin_cms_collection_item_list') }}">Item</a></li>{% endif %}
        </ul>
    </li>
{% endif %}