{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_CONTACT_ADMIN_CONTACT_LIST') or
is_granted('ROLE_CMS_CONTACT_ADMIN_NEWSLETTER_LIST') or
is_granted('ROLE_CMS_COMMENT_ADMIN_COMMENT_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-user">&nbsp;</span><span>Communication</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONTACT_ADMIN_CONTACT_LIST') %}
                <li><a href="{{ path('admin_cms_contact_contact_list') }}">Contact</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONTACT_ADMIN_NEWSLETTER_LIST') %}
                <li><a href="{{ path('admin_cms_contact_newsletter_list') }}">Newsletter</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COMMENT_ADMIN_COMMENT_LIST') %}
                <li><a href="{{ path('admin_cms_comment_comment_list') }}">Commentaire</a></li>{% endif %}
        </ul>
    </li>
{% endif %}