{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_CONFIG_ADMIN_CONFIG_LIST') or
is_granted('ROLE_CMS_CONFIG_ADMIN_VARIABLE_LIST') or
is_granted('ROLE_CMS_PAGE_ADMIN_FOLDER_LIST') or
is_granted('ROLE_SONATA_USER_ADMIN_GROUP_LIST') or
is_granted('ROLE_SONATA_USER_ADMIN_USER_LIST') or
is_granted('ROLE_CMS_CONTROLLER_ADMIN_CONTROLLER_LIST') or
is_granted('ROLE_CMS_CONTROLLER_ADMIN_QUERY_LIST') or
is_granted('ROLE_CMS_CONFIG_ADMIN_HTML_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-wrench">&nbsp;</span><span>Configuration</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONFIG_ADMIN_CONFIG_EDIT')%}<li><a href="{{ path('admin_cms_config_config_edit', {'id' : 1}) }}">Configuration</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONFIG_ADMIN_VARIABLE_LIST')%}<li><a href="{{ path('admin_cms_config_variable_list') }}">Variable</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_FOLDER_LIST')%}<li><a href="{{ path('admin_cms_page_folder_list') }}">Répértoire virtuel</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_USER_ADMIN_GROUP_LIST')%}<li><a href="{{ path('admin_sonata_user_group_list') }}">Groupe</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_USER_ADMIN_USER_LIST') %}<li><a href="{{ path('admin_sonata_user_user_list') }}">Utilisateur</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONTROLLER_ADMIN_CONTROLLER_LIST') %}<li><a href="{{ path('admin_cms_controller_controller_list') }}">Contrôleur</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONTROLLER_ADMIN_QUERY_LIST')%}<li><a href="{{ path('admin_cms_controller_query_list') }}">Argument</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CONFIG_ADMIN_HTML_LIST')%}<li><a href="{{ path('admin_cms_config_html_list') }}">Html</a></li>{% endif %}
        </ul>
    </li>

{% endif %}