{% if CheckBundle('ExtraServiceBundle') %}
    {% if
        is_granted('ROLE_SUPER_ADMIN') or
        is_granted('ROLE_EXTRA_SERVICE_ADMIN_SERVICE_LIST')
    %}
        <li icon="<i class='fa fa-home'></i>" class="treeview">
            <a href="#"><i class="fa fa-bullhorn">&nbsp;</i><span>Service</span><i class="fa pull-right fa-angle-left"></i></a>
            <ul class="treeview-menu menu_level_1">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_SERVICE_ADMIN_SERVICE_LIST') %}
                    <li><a href="{{ path('admin_extra_service_service_list') }}">Service</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_SERVICE_ADMIN_SERVICE_CREATE') %}
                    <li><a href="{{ path('admin_extra_service_service_create') }}">Créer un service</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}