{% if CheckBundle('ExtraHouseBundle') %}
    {% if
    is_granted('ROLE_SUPER_ADMIN') or
    is_granted('ROLE_EXTRA_HOUSE_ADMIN_HOUSE_LIST') or
    is_granted('ROLE_EXTRA_HOUSE_ADMIN_EQUIPMENT_LIST') or
    is_granted('ROLE_EXTRA_HOUSE_ADMIN_RESERVATION_LIST') %}
        <li icon="<i class='fa fa-home'></i>" class="treeview">
            <a href="#"><i class="fa fa-home"></i>Logement</span><i class="fa pull-right fa-angle-left"></i></a>
            <ul class="treeview-menu menu_level_1">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_HOUSE_ADMIN_HOUSE_LIST') %}
                    <li><a href="{{ path('admin_extra_house_house_list') }}">Logement</a></li>{% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_HOUSE_ADMIN_EQUIPMENT_LIST') %}
                    <li><a href="{{ path('admin_extra_house_equipment_list') }}">Equipement</a></li>{% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_EXTRA_HOUSE_ADMIN_RESERVATION_LIST') %}
                    <li><a href="{{ path('admin_extra_house_reservation_list') }}">Réservations</a></li>{% endif %}
            </ul>
        </li>
    {% endif %}
{% endif %}

