{% if
    is_granted('ROLE_SUPER_ADMIN') or
    is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_TYPE_LIST') or
    is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_TYPE_LIST') or
    is_granted('ROLE_CMS_BLOG_ADMIN_BLOG_TYPE_LIST') or
    is_granted('ROLE_CMS_CORE_ADMIN_CK_TEMPLATE_LIST') or
    is_granted('ROLE_CMS_GROUP_ADMIN_GROUP_TYPE_LIST') or
    is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_TYPE_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><i class="fa fa-picture-o"></i><span>&nbsp;Intégration</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CORE_ADMIN_CK_TEMPLATE_LIST')%}<li><a href="{{ path('admin_cms_core_cktemplate_list') }}">CK Template</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_TYPE_LIST') %}<li><a href="{{ path('admin_cms_page_pagetype_list') }}">Pages</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_TYPE_LIST') %}<li><a href="{{ path('admin_cms_blog_blogtype_list') }}">Blogs</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_BLOG_TYPE_LIST') %}<li><a href="{{ path('admin_cms_blog_articletype_list') }}">Articles</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_GROUP_ADMIN_GROUP_TYPE_LIST') %}<li><a href="{{ path('admin_cms_group_grouptype_list') }}">Groupes</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_COLLECTION_ADMIN_COLLECTION_TYPE_LIST') %}<li><a href="{{ path('admin_cms_collection_collectiontype_list') }}">Collections</a></li>{% endif %}

        </ul>
    </li>
{% endif %}