{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_SONATA_MEDIA_ADMIN_MEDIA_LIST') or
is_granted('ROLE_CMS_PREHOME_ADMIN_PREHOME_LIST') or
is_granted('ROLE_CMS_CORE_ADMIN_TAG_LIST')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-picture">&nbsp;</span><span>Média</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SONATA_MEDIA_ADMIN_MEDIA_LIST') %}<li><a href="{{ path('admin_sonata_media_media_list') }}">Média</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PREHOME_ADMIN_PREHOME_LIST')%}<li><a href="{{ path('admin_cms_prehome_prehome_list') }}">Préhome</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_CORE_ADMIN_TAG_LIST')%}<li><a href="{{ path('admin_cms_core_tag_list') }}">Tags des médias</a></li>{% endif %}
        </ul>
    </li>
{% endif %}