{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_NAV_ADMIN_MENU_EDIT') or
is_granted('ROLE_CMS_NAV_ADMIN_MENU_LIST') or
is_granted('ROLE_CMS_NAV_ADMIN_MENU_CREATE') or
is_granted('ROLE_CMS_NAV_ADMIN_LINK_LIST')
%}
    <li icon="<i class='fa fa-sitemap'></i>" class="treeview">
        <a href="#"><i class="fa fa-sitemap"></i><span>Navigation</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_NAV_ADMIN_MENU_EDIT') %}<li><a href="{{ path('admin_cms_nav_menu_edit', {'id' : 1}) }}">Menu principal</a></li>{%  endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_NAV_ADMIN_MENU_LIST') %}<li><a href="{{ path('admin_cms_nav_menu_list') }}">Autre menu</a></li>{%  endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_NAV_ADMIN_MENU_CREATE') %}<li><a href="{{ path('admin_cms_nav_menu_create') }}">Créer un menu</a></li>{%  endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_NAV_ADMIN_LINK_LIST') %}<li><a href="{{ path('admin_cms_nav_link_list') }}">Lien</a></li>{%  endif %}
        </ul>
    </li>
{% endif %}