{% if
is_granted('ROLE_SUPER_ADMIN') or
is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_LIST') or
is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_CREATE')
%}
    <li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
        <a href="#"><span class="glyphicon glyphicon-list-alt">&nbsp;</span><span>Page</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="treeview-menu menu_level_1">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_LIST') %}
                <li><a href="{{ path('admin_cms_page_page_list') }}">Page</a></li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_CREATE') %}
                <li><a href="{{ path('admin_cms_page_page_create') }}">Créer une page</a></li>{% endif %}

        </ul>
    </li>
{% endif %}