{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .right{
            height:auto;
        }

        .right-col .sub-section {
            border-top: 2px solid #3c8dbc;
            padding-top: 10px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            var rightCol = $('.right-col .box-body');
            $('<div class="sonata-ba-collapsed-fields right right-files"><h4 class="sub-section">Fichiers</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-videos"><h4 class="sub-section">Vidéos</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-pictures"><h4 class="sub-section">Images</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-publication"><h4 class="sub-section">Publication</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-html"><h4 class="sub-section">Code html</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-top-image"><h4 class="sub-section">Image à la une</h4></div>').prependTo(rightCol);

            $('div.form-group[id$="cover"]').appendTo('.right-top-image');
            $('<div class="clearfix"></div>').appendTo('.right-top-image');

            $('div.form-group[id$="html"]').appendTo('.right-html');
            $('<div class="clearfix"></div>').appendTo('.right-html');

            $('input[id$="top"]').closest('.form-group').appendTo('.right-publication');
            $('input[id$="published"]').closest('.form-group').appendTo('.right-publication');
            $('input[id$="slug"]').closest('.form-group').appendTo('.right-publication');
            $('input[id$="created"]').closest('.form-group').appendTo('.right-publication');
            $('input[id$="updated"]').closest('.form-group').appendTo('.right-publication');
            $('input[id$="numberViews"]').closest('.form-group').appendTo('.right-publication');
            $('<div class="clearfix"></div>').appendTo('.right-publication');

            $('div.form-group[id$="pictures"]').appendTo('.right-pictures');
            $('<div class="clearfix"></div>').appendTo('.right-pictures');
            $('div.form-group[id$="videos"]').appendTo('.right-videos');
            $('<div class="clearfix"></div>').appendTo('.right-videos');
            $('div.form-group[id$="files"]').appendTo('.right-files');
            $('<div class="clearfix"></div>').appendTo('.right-files');

        });
    </script>
{% endblock %}

