<div class="container">
    {% if showMetaH1 %}
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ metaH1 }}</h1>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div id="div-page-blocs">
            {% for pageBloc in pageBlocs %}
                {{ include(template_from_string(showBloc(pageBloc.bloc)|raw)) }}
            {% endfor %}
        </div>
    </div>
</div>
