{% embed ':Partials:footer.html.twig' %}

    {% block footerContent %}
        {{ parent() }}
        {% if isAdmin %}
            <p class="text-right margin-top-20">
                <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-default" target="_blank">Administration du site</a>
                <a href="{{ path('admin_cms_page_page_edit', {'id' : page.id}) }}" class="btn btn-default" target="_blank">Editer la page</a>
            </p>
        {% endif %}
    {% endblock %}

{% endembed %}
