<table class="table">
    {% for article in articles %}
        <tr>
            <td style="width: 70%">{{ article.name }}</td>
            <td><button class="btn btn-danger btn-block">{{ article.numberView }}</button></td>
            <td><a class="btn btn-primary btn-block" href="{{ path('admin_cms_blog_article_edit', {'id':article.id}) }}"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
    {% endfor %}
</table>

