{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .right{
            height:auto;
        }

        .right-col .sub-section {
            border-top: 2px solid #3c8dbc;
            padding-top: 10px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/lib/codemirror.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/theme/monokai.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/css/css.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/css-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/javascript/javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/javascript-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/html-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/closebrackets.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/matchbrackets.js') }}"></script>

    <script>
        $(function() {
            var rightCol = $('.right-col .box-body');
            $('<div class="sonata-ba-collapsed-fields right right-advanced"><h4 class="sub-section">Avançé</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-files"><h4 class="sub-section">Fichiers</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-videos"><h4 class="sub-section">Vidéos</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-pictures"><h4 class="sub-section">Autre images</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-divers"><h4 class="sub-section">Divers</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-classification"><h4 class="sub-section">Classification</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-comment"><h4 class="sub-section">Commentaires</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-publication"><h4 class="sub-section">Publication</h4></div>').prependTo(rightCol);
            $('<div class="sonata-ba-collapsed-fields right right-top-image"><h4 class="sub-section">Image à la une</h4></div>').prependTo(rightCol);

            $('div.form-group[id$="cover"]').appendTo('.right-top-image');
            $('<div class="clearfix"></div>').appendTo('.right-top-image');

            $('input[id$="top"]').closest('.form-group').appendTo('.right-publication');
            $('div.form-group[id$="lieux"]').appendTo('.right-publication');
            $('input[id$="allowInscriptions"]').closest('.form-group').appendTo('.right-publication');
            $('label[for$="published"]').closest('.form-group').appendTo('.right-publication');
            $('div.form-group[id$="publishStartDate"]').appendTo('.right-publication');
            $('<div class="clearfix"></div>').appendTo('.right-publication');

            $('input[id$="enableComment"]').closest('.form-group').appendTo('.right-comment');
            $('<div class="clearfix"></div>').appendTo('.right-comment');

            $('div.form-group[id$="category"]').appendTo('.right-classification');
            $('div.form-group[id$="tags"]').appendTo('.right-classification');
            $('<div class="clearfix"></div>').appendTo('.right-classification');

            $('div.form-group[id$="slug"]').appendTo('.right-advanced');
            $('div.form-group[id$="articleType"]').appendTo('.right-advanced');
            $('div.form-group[id$="user"]').appendTo('.right-advanced');
            $('<div class="clearfix"></div>').appendTo('.right-advanced');

            $('div.form-group[id$="author"]').appendTo('.right-divers');
            $('div.form-group[id$="numberView"]').appendTo('.right-divers');
            $('<div class="clearfix"></div>').appendTo('.right-divers');

            $('div.form-group[id$="pictures"]').appendTo('.right-pictures');
            $('<div class="clearfix"></div>').appendTo('.right-pictures');
            $('div.form-group[id$="videos"]').appendTo('.right-videos');
            $('<div class="clearfix"></div>').appendTo('.right-videos');
            $('div.form-group[id$="files"]').appendTo('.right-files');
            $('<div class="clearfix"></div>').appendTo('.right-files');

            CodeMirror.fromTextArea($('textarea[id$="extraContent"]')[0], {
                theme:'monokai',
                matchBrackets:true,
                autoCloseBrackets:true,
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });
        });
    </script>
{% endblock %}

