{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_LIST') %}
    <div class="sonata-news-block-recent-post box box-primary">
        <div class="box-header with-border"><h3 class="box-title"><i class="fa fa-pencil"></i> Dernières actualités</h3></div>
        <div class="box-body">
            <div class="sonata-blog-post-container list-group">
                {{ render(controller('CmsBlogBundle:ArticleAdmin:dashboard', {'_sonata_admin': 'cms_blog.admin.article'})) }}
            </div>
        </div>
        <div class="box-footer text-right">
            <a href="{{ path('admin_cms_blog_article_list') }}" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;Voir toutes les actualités</a>
            <a href="{{ path('admin_cms_blog_article_create') }}" class="btn btn-success"><i class="fa fa-plus-square fa-fw"></i>&nbsp;Ajouter une actualité</a>
        </div>
    </div>
{% endif %}