{% extends "::base.html.twig" %}

{% block title %}{{ house.name }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include ':House/Single/Partials:name.html.twig' with {'house': house} only %}
            <div class="col-sm-4">
                {% include ':House/Single/Partials:cover.html.twig'  with {'house': house} only %}
                {% include ':House/Single/Partials:content.html.twig'  with {'house': house} only %}
            </div>
            <div class="col-sm-4">
                {% include ':House/Single/Partials:contents.html.twig'  with {'house': house} only %}
            </div>
            <div class="col-sm-4">
                {% include ':House/Single/Partials:equipments.html.twig'  with {'house': house} only %}
                {% include ':House/Single/Partials:prices.html.twig'  with {'house': house, '_locale': _locale} only %}
            </div>
        </div>
        <div class="row">
            {% include ':House/Single/Partials:pictures.html.twig'  with {'house': house} only %}
        </div>
        <div class="row">
            {% include ':House/Single/Partials:videos.html.twig'  with {'house': house} only %}
        </div>
        <div class="row">
            {% include ':House/Single/Partials:files.html.twig'  with {'house': house} only %}
        </div>
        <div class="row">
            {% include ':House/Single/Partials:reservation.html.twig'  with {'house': house} only %}
        </div>
        <div class="row">
            {% include ':House/Single/Partials:comment.html.twig'  with {'house': house, 'config': config, 'threadComments' : threadComments} only %}
        </div>
    </div>

{% endblock %}
