{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block sonata_form_actions %}
    <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
{% endblock %}
