{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/lib/codemirror.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/codemirror/theme/monokai.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/show-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/css/css.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/css-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/javascript/javascript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/javascript-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/hint/html-hint.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/closebrackets.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/codemirror/addon/edit/matchbrackets.js') }}"></script>

    <script>
        $(function () {
            CodeMirror.fromTextArea($('textarea[id$="value"]')[0], {
                theme:'monokai',
                matchBrackets:true,
                autoCloseBrackets:true,
                extraKeys: {"Ctrl-Space": "autocomplete"}
            });

        });
    </script>
{% endblock %}