{% if item.files is not empty %}
    <div class="row">
        {% for file in item.files %} {# files #}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
                <h4>{{ alt(file.media) }}</h4>
                <a href="{% path file.media, 'reference' %}" target="_blank">
                    <img src="{{ asset('assets/img/file.png') }}" alt="Fichier" class="img-responsive">
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}