{% if item.links is not empty %}
    {% for link in item.links %} {# links #}
        {% set target = (link.target) ? 'target="_blank"' : '' %}
        <a class="{{ link.class }}" href="{{ link.link }}" {{ target }}>{{ link.anchor }}</a>
    {% endfor %}
{% endif %}
