{% if item.pictures is not empty %} {# pictures #}
    <div class="row">
        {% for picture in item.pictures %}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
                <a class="fancybox" rel="group" href="{% path picture.media, 'xxx_large' %}" title="{{ alt(picture.media) }}">
                    <img src="{{ picture.media | path('square') }}" alt="{{ alt(picture.media) }}" class="img-responsive">
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}