{% if item.videos is not empty %}
    <div class="row">
        {% for video in item.videos %} {# videos #}
            <div class="col-xs-6 col-sm-4 col-md-2 margin-bottom-20">
                <a class="fancybox-media" href="http://www.youtube.com/watch?v={{ video.media.providerreference }}">
                    <img src="{% path video.media, 'large' %}" alt="{{ alt(video.media) }}" class="img-responsive">
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}