ol {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

.btn-edit-link {
    padding: 0px 17px;
    color: white;
    margin-right: 10px;
    float: right;
}

ol.sortable {
    margin: 1em 0;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li > div {
    border: none;
    padding: 3px 0px 3px 5px;
    margin: 3px 0;
    background-color: lightgray;
}

.wrapper {
    background: #ECF0F5 !important;
}

.main-sidebar {
    background: #000000 !important;
}

.locale_switcher {
    text-align: right;
    margin-bottom: 10px;
}

.locale_switcher img {
    height: 12px;
    margin-right: 10px;
}

.locale_switcher .active img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.help-block {
    color: red;
}

.sidebar-menu li .active {
    background-color: #444444;
}

.sidebar-menu li .active a {
    color: white;
}

