{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CMS_PAGE_ADMIN_PAGE_LIST') %}
    <div class="sonata-news-block-recent-post box box-primary">
        <div class="box-header with-border"><h3 class="box-title"><span class="glyphicon glyphicon-list-alt"></span> Dernières pages</h3></div>
        <div class="box-body">
            <div class="sonata-blog-post-container list-group">
                {{ render(controller('CmsPageBundle:PageAdmin:dashboard', {'_sonata_admin': 'cms_page.admin.page'})) }}
            </div>
        </div>
        <div class="box-footer text-right">
            <a href="{{ path('admin_cms_page_page_list') }}" class="btn btn-primary"><i class="fa fa-eye"></i>&nbsp;Voir toutes les pages</a>
            <a href="{{ path('admin_cms_page_page_create') }}" class="btn btn-success"><i class="fa fa-plus-square fa-fw"></i>&nbsp;Ajouter une page</a>
        </div>
    </div>
{% endif %}

