<table class="table">
    {% for page in pages %}
        <tr>
            <td style="width: 70%">{{ page.name }}</td>
            <td><button class="btn btn-danger btn-block">{{ page.nbrViews }}</button></td>
            <td><a class="btn btn-primary btn-block" href="{{ path('admin_cms_page_page_edit', {'id': page.id}) }}"><i class="fa fa-pencil-square-o"></i></a></td>
            <td>
                <a class="btn btn-success btn-block" href="{{ url('page_show', {'pageLink': page.pageLink}) }}" target="_blank"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>

