{% set blocs = getBlocs(['page-territoires-eligibles-texte-1', 'page-territoires-eligibles-titre-1', 'page-territoires-eligibles-titre-2', 'page-territoires-eligibles-content-1', 'page-territoires-eligibles-content-2', 'page-territoires-eligibles-texte-2', 'page-territoires-eligibles-carte',]) %}

<section id="territoires-eligibles">
    <div class="container">
        {% if showMetaH1 %}
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        {{ metaH1 }}
                    </h1>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-texte-1']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-must-be-equal" id="specific-content-1">
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-titre-1']))) }}
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-content-1']))) }}
            </div>
            <div class="col-sm-6 p-must-be-equal" id="specific-content-2">
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-titre-2']))) }}
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-content-2']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-texte-2']))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 img-center">
                <a href="{{ path('page_show', { 'pageLink': "page-carte-interactive", '_locale' : app.request.locale}) }}">{{ include(template_from_string(showBloc(blocs['page-territoires-eligibles-carte']))) }}</a>
            </div>
        </div>
    </div>
</section>