{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <p class="text-right">
        {% for current_locale in sonata_translation_locales %}
            {% if
            (object.translation('numberView', current_locale)) or
            (current_locale == default_locale and object.numberView is not null)
            %}
                <strong>"{{ object.translation('numberView', current_locale) }}"</strong> visites sur la page publiée en <img style="vertical-align: middle" src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/></br>
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}