{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <p class="text-right">
        {% for current_locale in sonata_translation_locales %}
            {% if
            (object.translation('published', current_locale)) or
            (current_locale == default_locale and object.published)
            %}
                <img src="{{ asset('assets/img/flags/' ~ current_locale ~ '.png') }}"/>
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}