{% if app.user and  (app.user.granted('ROLE_SUPER_ADMIN') or app.user.granted('ROLE_CMS_BLOG_ADMIN_ARTICLE_MASTER')) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'top'}) }}" title="Move bottom">⇊</a>
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="Move down">↓</a>
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="Move up">↑</a>
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'bottom'}) }}" title="Move top">⇈</a>
{% endif %}
