{% extends ":SonataAdmin:standard_layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        canvas {
            width: 100%;
        }
    </style>
{% endblock %}

{% block sonata_admin_content %}

    <script>
        var labels = [];
        var cpts = [];
    </script>

    <canvas id="stat"></canvas>

    {% for day in days %}
        <script>
            labels.push("{{ day.start|date("d/m/Y") }}");
            cpts.push({{ day.cpt }})
        </script>
    {% endfor %}



    <script>
        $(function () {

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Post",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: cpts
                    },
                ]
            };

            var ctx = document.getElementById("stat").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(data);
        });
    </script>
{% endblock %}