{% extends ":SonataAdmin:standard_layout.html.twig" %}
{% block sonata_admin_content %}
    <form role="form" method="POST" action="{{ path(path, {'id' : id}) }}" class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="start">Début</label>
                <input type="date" class="form-control" id="start" name="start" placeholder="Début" required="required">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="periodValue">Fin</label>
                <input type="date" class="form-control" id="end" name="end" placeholder="Fin" required="required">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="end">Périodicité</label>
                <input type="text" class="form-control" id="end" name="periodValue" placeholder="Péridocité" value="1 day" required="required">
            </div>
            <button type="submit" class="btn btn-default">Valider</button>
            <a href="http://php.net/manual/fr/dateinterval.createfromdatestring.php" class="btn btn-primary" target="_blank">En savoir plus sur les intervalles</a>
        </div>
    </form>
    <br/>
{% endblock %}