<div id="collection-{{ '{{' }} collection.slug {{ '}}' }}" data-collection="{{ '{{' }} collection.id {{ '}}' }}">
    {{ '{%' }} for item in items {{ '%}' }}
        {{ '{%' }} if item.html is not null {{ '%}' }}
            {{ '{{' }} include(template_from_string(item.html)) {{ '}}' }}
        {{ '{%' }} endif {{ '%}' }}
    {{ '{%' }} endfor {{ '%}' }}
</div>