<div id="collection-{{ '{{' }} collection.slug {{ '}}' }}">
    {{ '{%' }} for item in items {{ '%}' }}
        {{ '{{' }} include(template_from_string(collection.collectionType.itemContent)) {{ '}}' }}
    {{ '{%' }} endfor {{ '%}' }}
</div>
