<div class="item">
    <img class="lazy" src="{{ '{%' }} path item.cover, 'xxx_large' {{ '%}' }}" data-original="{{ '{%' }} path item.cover, 'xxx_large' {{ '%}' }}" alt="{{ '{{' }} alt(item.cover) {{ '}}' }}">
</div>