$('#{{ '{{' }} collection.slug {{ '}}' }}').owlCarousel({
    animateIn: 'fadeIn',
    animateOut: 'fadeOut',
    items: 1,
    loop: true,
    margin: 10,
    autoplay: true,
    autoHeight: true,
    lazyLoad:true
});