{% for message in app.session.flashbag.get('notice') %}
	<div class="alert alert-success alert-dismissible fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		{{ message }}
	</div>
{% endfor %}
{{ form(form, {'action': path('cms_contact_contact')}) }}