{% extends "::base.html.twig" %}

{#SEO#}
{% block title %}{{ page.metaTitle }} {{ parent() }}{% endblock %}
{% block metaDescription %}{{ parent() }} {{ page.metaDescription|raw }}{% endblock %}
{% block metaKeyword %}{{ parent() }} {{ page.metaKeyword|raw }}{% endblock %}
{% block otherMeta %}{{ parent() }}{{ page.otherMeta|raw }}{% endblock %}
{# End SEO #}

{# CSS #}
{% block stylesheets %}
    {{ parent() }}
    {% if page.pageType is not null %}
        {{ page.pageType.style|raw }}{#Page CSS#}
    {% endif %}
{% endblock %}
{# End CSS #}

{% block content %}
    <div class="container">
        {% set blocs = getBlocs(['51','52'],false) %}
        <div class="row">
            <div class="col-xs-12">
                <h1>{% block h1 %}{{ page.metaTitle }}{% endblock %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="vertical-align">
                <div class="col-sm-4">
                    {{ include(template_from_string(showBloc(blocs['51']))) }}
                </div>
                <div class="col-sm-4">
                    {% include ':Contact:contact_form.html.twig' %}
                </div>
                <div class="col-sm-4 img-center">
                    {{ include(template_from_string(showBloc(blocs['52']))) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Script #}
{% block javascriptsBottom %}
    {{ parent() }}
    {% if page.pageType is not null %}
        {{ page.pageType.script|raw }} {#Page Script#}
    {% endif %}
{% endblock %}
{# End Script #}

