<ul>
	<li><strong>Prénom : </strong>{{ contact.firstName }}</li>
	<li><strong>Nom : </strong>{{ contact.lastName }}</li>
	<li><strong>Email : </strong>{{ contact.email }}</li>
	<li><strong>Sujet : </strong>{{ contact.subject }}</li>
	<li><strong>Message : </strong>{{ contact.message }}</li>
</ul>
